body {
    
	width: 100%;
}

.ekran {
	
	font-family: Comic Sans MS;
}
.ekran span {
	padding: 10px;
	display: block;
	margin-bottom: 2px;
	min-height: 26px;
	line-height: 20px;
	width: 269px;
	font-size: 35px;
	border:  none;
	border-radius: 0;
}
.ekran span#sonuc {
	background-color: #aaa;
}
.wrapper {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    background-color:black;
    border-radius: 10px;
    max-width: 300px;
    background: #000;
}


.calculator {
	display: grid;
	font-family: Comic Sans MS;
	grid-template-columns: 72px 72px 72px 73px;
}

.calculator button {
	background-color:white;
	padding: 15px 0;
	border: 0.1px solid #9e9a9a;
	font-size:20px;
}

.calculator .double-row {
    grid-column: 4;
    grid-row: 3/ span 2;
}

.calculator .double-col {
    background-color:#FF4500;
    grid-row: 5;
    grid-column: 3 / span 2;
}
.goruntu
{
	width: 289px;
	font-family: Comic Sans MS;
	font-size:35px;
	border: none;
}
.goruntu input
{
	background-color:#aaa;
	border-radius: 20px;
	padding: 10px;
	display: block;
	margin-bottom: 2px;
	min-height: 25px;;
	line-height: 20px;
	
}
.ress{
	font-size:35px;
}
.passive {
	font-size: 20px;
}
.goruntu input#islem{
	text-align:right; 
}